@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --orange: rgba(254, 163, 1, 1);
  --sky-blue: rgba(1, 172, 253, 1);
  --cyan: rgba(5, 212, 223, 1);
  --purple: rgba(93, 88, 239, 1);
  --white: rgba(93, 88, 239, 1);
  --black-primary: rgba(17, 17, 17, 1);
  --black-txt: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  /* Font Styles */
  /* font-family */
  --quicksand: "Quicksand", serif;
  --raleway: "Raleway", serif;

  /* sizes & weights */
  --sml: 1rem;
  --md: 1.3rem;
  --big: 2rem;
  --semi: 1.5rem;
  --lg: 2.4rem;
  --xt-lg: 3.2rem;

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --xt-bold: 800;

  /* mobile font styles */
  --xt-sml-mb: 0.6rem;
  --sml-mb: 0.8rem;
  --md-mb: 1rem;
  --semi: 1.5rem;
  --lg-mb: 2rem;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--quicksand);
  font-weight: var(--regular);
  background-color: #F7F7F7;
}

/* Header Section CSS */

/* Menu CSS Start*/

.menubar {
  display: flex;
  padding: 1.2rem 0;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 186px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo>span {
  font-size: var(--big);
  font-weight: var(--bold);
  color: var(--black-primary);
}

.menubar a {
  text-decoration: none;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.nav-items li a {
  font-size: var(--md);
  font-weight: var(--medium);
}

#navlink-1 {
  color: var(--orange);
}

#navlink-2 {
  color: var(--sky-blue);
}

#navlink-3 {
  color: var(--cyan);
}

#navlink-4 {
  color: var(--purple);
}

.hamburger-menu {
  display: none;
}

.contact-btn {
  color: var(--white);
  padding: 10px 60px;
  background-color: var(--orange);
  border-radius: 10px;
}

/* Menu CSS end */




/* Banner Section CSS Start */

.banner-section {
  width: 100dvw;
}

.banner-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  gap: 50px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ban-title {
  font-weight: var(--bold);
  font-size: var(--xt-lg);
  color: var(--black-txt);
}

.ban-subtitle {
  font-weight: var(--regular);
  font-size: var(--md);
  color: var(--black-primary);
}

.left-content>a {
  text-decoration: none;
  width: max-content;
  font-size: var(--md);
  font-weight: var(--medium);
  padding: 10px 47px;
  color: var(--white);
  border-radius: 12px;
  background-color: var(--black-primary);
}


.left-content h1 span:nth-child(1) {
  color: var(--orange);
}

.left-content h1 span:nth-child(2) {
  color: var(--sky-blue);
}

/* Banner Section CSS end */



/* Standard Curriculum Section CSS start */

.std-curr-section {
  width: 100dvw;
  height: 879px;
  padding: 80px 0;
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}


.std-curr-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: var(--lg);
  font-weight: var(--bold);
  color: var(--black-txt);
}

.curr-card-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.curr-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  align-items: center;
  padding: 52px 40px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  text-align: center;
}

.curr-card-1 {
  border: 1px solid #DEF5FF;
  background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
}

.curr-card-2 {
  border: 1px solid #FFF4DC;
  background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
}

.curr-card-3 {
  border: 1px solid #F2E8FF;
  background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
}

:is(.curr-card) :is(img) {
  width: 52%;
  height: auto;
}

:is(.curr-card) :is(h3) {
  font-size: var(--semi);
  font-weight: var(--bold);
  color: rgba(32, 32, 32, 1);
}

:is(.curr-card) :is(p) {
  font-size: var(--sml);
  font-weight: var(--medium);
  color: rgba(128, 128, 128, 1);
  line-height: 28px;
  text-align: center;
}

:is(.curr-card) :is(a) {
  font-size: var(--sml);
  font-weight: var(--bold);
  text-decoration: none;
}

.read-more-1 {
  color: rgba(100, 200, 255, 1);
}

.read-more-2 {
  color: rgba(240, 170, 0, 1);
}

.read-more-3 {
  color: rgba(135, 0, 255, 1);
}

.pag-btns {
  display: flex;
  gap: 10px;
}

:is(.pag-btns) :is(.right-pag, .left-pag) {
  padding: 18px 22px;
  background-color: var(--orange);
  border-radius: 50%;
  cursor: pointer;
}

:is(.right-pag, .left-pag) :is(i) {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Standard Curriculum Section CSS end */






















/* ------- Responsive CSS start ------- */


@media screen and (max-width: 576px) {

  /* Menu Bar Responsive start */
  .menubar {
    display: block;
  }

  .logo>span {
    display: none;
  }

  .menubar {
    padding: 0.8rem 0;
    margin: 0 16px;
  }

  :is(.nav-items, .contact-btn) {
    display: none;
  }

  .hamburger-menu {
    display: block;
    width: 32px;
    height: 32px;
  }

  .hamburger-menu>i {
    color: var(--black-primary);
  }

  /* Menubar Responsive end */



  /* Banner Section Responsive start */

  .banner-contents {
    flex-direction: column-reverse;
    gap: 20px;
    max-width: 357px;
  }

  .ban-title {
    font-size: var(--big);
    text-align: center;
  }

  .ban-subtitle {
    font-size: var(--md-mb);
    font-weight: var(--medium);
    text-align: center;
  }

  .left-content {
    align-items: center;
  }

  .left-content>a {
    padding: 8px 24px;
    font-size: var(--md-mb);
    font-weight: var(--medium);
    border-radius: 8px;
  }

  .right-content {
    min-width: 90%;
  }

  .right-content>img {
    width: 100%;
    height: auto;
  }

  /* Banner Section Responsive end */



}