@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --orange: rgba(254, 163, 1, 1);
  --sky-blue: rgba(1, 172, 253, 1);
  --cyan: rgba(5, 212, 223, 1);
  --purple: rgba(93, 88, 239, 1);
  --white: rgba(93, 88, 239, 1);
  --black-primary: rgba(17, 17, 17, 1);
  --black-txt: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  /* Font Styles */
  /* font-family */
  --quicksand: "Quicksand", serif;
  --raleway: "Raleway", serif;

  /* sizes & weights */
  --sml: 1rem;
  --md: 1.3rem;
  --big: 2rem;
  --semi: 1.5rem;
  --lg: 2.4rem;
  --xt-lg: 3.2rem;

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --xt-bold: 800;

  /* mobile font styles */
  --xt-sml-mb: 0.6rem;
  --sml-mb: 0.8rem;
  --md-mb: 1rem;
  --semi: 1.5rem;
  --lg-mb: 2rem;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--quicksand);
  font-weight: var(--regular);
  background-color: #F7F7F7;
}

/* Header Section CSS */

/* Menu CSS Start*/

.menubar {
  display: flex;
  padding: 1.2rem 0;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 186px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo>span {
  font-size: var(--big);
  font-weight: var(--bold);
  color: var(--black-primary);
}

.menubar a {
  text-decoration: none;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.nav-items li a {
  font-size: var(--md);
  font-weight: var(--medium);
}

#navlink-1 {
  color: var(--orange);
}

#navlink-2 {
  color: var(--sky-blue);
}

#navlink-3 {
  color: var(--cyan);
}

#navlink-4 {
  color: var(--purple);
}

.hamburger-menu {
  display: none;
}

.contact-btn {
  color: var(--white);
  padding: 10px 60px;
  background-color: var(--orange);
  border-radius: 10px;
}

/* Menu CSS end */
























/* ------- Responsive CSS start ------- */


@media screen and (max-width: 390px) {

  /* Menu Bar Responsive start */

  .logo>span {
    display: none;
  }

  .menubar {
    padding: 0.8rem 0;
    margin: 0 16px;
  }

  :is(.nav-items, .contact-btn) {
    display: none;
  }

  .hamburger-menu {
    display: block;
    width: 32px;
    height: 32px;
  }

  .hamburger-menu>i {
    color: var(--black-primary);
  }

  /* Menubar Responsive end */



}